* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #ffffff;
}

.container {
    padding: 10px 10%;
}

.subtitle1 {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.subtitle2 {
    font-size: 30px;
    color: #ff004f;
}

.details form {
    width: 100%;
    padding: 30px;
}

form input {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}